{% load static %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{% static 'concert/homepage/main.css' %}">
<script src="{% static 'concert/homepage/main.js' %}"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.0/jquery.min.js"></script>
<h2 id="homepage">
    Concert de BEA7S
    <div class="mask">
      <span data-show>Le 1er avril</span>
      <span>5€</span>
      <span>Rue du prebytère, 1A</span>
      <span>Tamines</span>
    </div>
  </h2>