{% extends 'concert/base.html' %}
{% load static %}
{% block content %}
     <link rel="shortcut icon" href="https://cdn-icons-png.flaticon.com/512/195/195123.png" type="image/png">
     <header>
     <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <a class="navbar-brand" href="#">Concert</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
               <a class="nav-item nav-link active" href="#">Accueil<span class="sr-only">(current)</span></a>
               <a class="nav-item nav-link" href="#">A propos</a>
          </div>
          </div>
          </nav>
     </header>
     <main>
          <section class="background grid grid-center" id="showcase-background-1">
               <div class="container text-white">
                    <h1 class="display-2 mb-3">Achetez vos tickets!</h1>
                    <div class="row">
                         <div class="col-12 col-lg-8">
                              <p>Préparez vous pour le concert de BEA7S avec Jeune X, Skanda, Lousoliter</p>
                         </div>
                    </div>
                    <form action="{% url 'create-checkout-session' %}" method="POST">
                         {% csrf_token %}
                         <a class="pr-5 pl-5 pt-2 pb-2 text-white btn text-uppercase font-weight-bold btn-gradient" href="#" onclick="this.closest('form').submit(); return false;">Acheter</a>
                    </form>
               </div>
          </section>
          
          <section class="pb-5 pt-5 bg-dark-secondary">
               <div class="container">
                    <div class="row">
                         <div class="col-12 col-lg-6 text-white">
                              <h2 class="text-uppercase display-4">Restez informés!</h2>
                              <hr class="hr-red">
                              <p class="mt-5 font-weight-100 letter-spacing-4px">Ne manquez rien de l'actualité de BEA7S, inscrivez-vous à notre newsletter pour être au courant des dernières nouveautés et avoir accès à des offres exclusives.</p>
                              <form action="{% url 'suscribe' %}" method="POST">
                                   {% csrf_token %}
                                   <div class="form-group position-relative">
                                        <input class="form-outline-gray" name="email" id="email" type="email" required>
                                        <label class="label-absolute" for="email">Email</label>
                                   </div>
                                   <input class="mb-4 pr-5 pl-5 pt-2 pb-2 btn text-uppercase font-weight-bold text-red btn-outline-white" type="submit" name="send" id="send" value="S'inscrire">
                              </form>
                         </div>
                         <div class="col-12 col-lg-6" style="display: flex; justify-content: center;">
                              <aside class="card box-shadow bg-dark-primary" style="width: 370px;">
                                   <div class="card-header p-0">
                                        <img class="cover img-fluid img-thumbnail" src="{% static 'concert/singer.png' %}" alt="Singer" style="width: 370px; height: auto;">
                                   </div>
                                   <div class="card-body">
                                        <h3>Ben Elleboudt</h3>
                                        <p>8 Janvier 2005<br> <span class="font-weight-100">Ne manquez pas le concert de BEA7S, achetez vos tickets maintenant pour une soirée inoubliable ! </span></p>
                                        </div>
                                   </aside>
                              </div>
                         </div>
                    </div>
               </section>
               
               <section class="background pb-5 pt-5 text-white text-center" id="showcase-background-2">
                    <div class="container">
                         <h2 class="text-uppercase display-4">Artistes</h2>
                         <hr class="hr-red">
                         <div class="card-deck mt-5 mb-3 text-center">
                              <div class="card mb-4 box-shadow border-0 h-500px artist" id="artist1">
                                   <img class="position-absolute cover" src="{% static 'concert/medias/artist1.jpg' %}" alt="BEA7S">
                                   <h4 class="text-red position-bottom position-absolute position-center text-uppercase font-weight-bold">BEA7S</h4>
                              </div>
                              <div class="card mb-4 box-shadow border-0  h-500px artist" id="artist2">
                                   <img class="position-absolute cover" src="{% static 'concert/medias/artist2.jpg' %}" alt="Jeune X">
                                   <h4 class="text-red position-bottom position-absolute position-center text-uppercase font-weight-bold">Jeune X</h4>
                              </div>
                              
                              <div class="card mb-4 box-shadow border-0  h-500px artist" id="artist3">
                                   <img class="position-absolute cover" src="{% static 'concert/medias/artist3.jpg' %}" alt="Skanda">
                                   <h4 class="text-red position-bottom position-absolute position-center text-uppercase font-weight-bold">Skanda</h4>
                              </div>
                         </div>
                    </section>
                    <section class="pb-5 pt-5 bg-dark-secondary text-white text-center">
                         <h2 class="text-uppercase display-4">Des questions?</h2>
                         <hr class="hr-red">
                         <form class="text-left container mt-5" action="#" method="POST">
                              {% csrf_token %}
                              <div class="row">
                                   <div class="col-12 col-lg-6">
                                        <div class="form-group position-relative">
                                             <input class="form-outline-gray" name="firstname" id="firstname" type="text" required>
                                             <label class="label-absolute" for="firstname">Prénom</label>
                                        </div>
                                   </div>
                                   <div class="col-12 col-lg-6">
                                        <div class="form-group position-relative">
                                             <input class="form-outline-gray" name="lastname" id="lastname" type="text" required>
                                             <label class="label-absolute" for="lastname">Nom</label>
                                        </div>
                                   </div>
                                   <div class="col-12">
                                        <div class="form-group position-relative">
                                             <input class="form-outline-gray" name="email" id="email" type="email" required>
                                             <label class="label-absolute" for="email">Email</label>
                                        </div>
                                        
                                        
                                        <div class="form-group position-relative">
                                             <input class="form-outline-gray" name="message" id="message" type="message" required>
                                             <label class="label-absolute" for="message">Message</label>
                                        </div>
                                   </div>
                              </div>
                              <input class="pr-5 pl-5 pt-2 pb-2 btn text-uppercase font-weight-bold text-red btn-outline-white" type="submit" name="send" id="send" value="Send">
                         </form>
                    </section>
                    
               </main>
               <footer class="text-black pt-3 pb-3">
                    <div class="container d-flex align-items-center justify-content-between">
                         <small>Concert CSA 2023. All rights reserved.</small>
                         <ul class="list-unstyled d-flex p-0 m-0">
                              <li class="p-3">
                                   <a class="text-black text-decoration-none" href="https://www.facebook.com/ben.altaica">
                                        <i class="fab fa-facebook-f"></i>
                                   </a>
                              </li>
                              <li class="p-3">
                                   <a class="text-black text-decoration-none" href="https://www.instagram.com/bea7s.wav/">
                                        <i class="fab fa-instagram"></i>
                                   </a>
                              </li>
                              <li class="p-3">
                                   <a class="text-black text-decoration-none" href="https://twitter.com/NLeboud">
                                        <i class="fab fa-twitter"></i>
                                   </a>
                              </li>
                         </ul>
                    </div>
               </footer>
               <script src="{% static 'concert/index.js' %}"></script>
{% endblock content %}