{% extends 'concert/base.html' %}
{% load static %}
{% block content %}
     <main>
          <section class="background grid grid-center" id="showcase-background-1">
               <div class="container text-white">
                    <h1 class="display-2 mb-3">Achetez vos entrées!</h1>
                    <div class="row h-300">
                         <div class="col-12 col-lg-6">
                              <p class="intro-text">Rendez vous le 9 juin avec BEA7S, Jeune X, Skanda, Pcaps, Kios et Lousoliter !</p>
                              <a id="acheter" class="pr-5 pl-5 pt-2 pb-2 text-white btn text-uppercase font-weight-bold btn-gradient" href="{% url 'buy' %}" >Réserver</a>
                         </div>
                    </div>
               </div>
          </section>
          <section class="background pb-5 pt-5 text-white text-center" id=showcase-background-3>
               <h2 class="text-uppercase display-4" id="infos">Informations pratiques</h2>
               <hr class="hr-red">
               
               <ul style="padding-inline-start: 0px;">
                    <li class="infos question">Où ?</li>
                    <li class="infos answer">Au Quai de Scène à Auvelais, Place de la Gare 9b, 5060 Sambreville</li>
                    <li class="infos question">Quand ?</li>
                    <li class="infos answer">Le 9 juin 2023 à 20h, Ouverture des portes à 19h</li>
                    <li class="infos question">Combien?</li>
                    <li class="infos answer">Ticket : 7€ <br> CD : 5€ <br> Pack Ticket+CD : 10€</li>
               </ul>
          </section>
          <section class="background pb-5 pt-5 text-white text-center" id="showcase-background-2">
               <div class="container">
                    <h2 class="text-uppercase display-4">LINE-UP</h2>
                    <hr class="hr-red">
                    <div class="card-deck mt-5 mb-3 text-center">
                         <div class="card mb-4 box-shadow border-0  h-500px" id="artist2">
                              <img class="position-absolute cover artist" src="{% static 'concert/medias/artist2.jpg' %}" alt="Jeune X">
                              <h4 class="text-red position-bottom position-absolute position-center text-uppercase font-weight-bold">Jeune X</h4>
                         </div>
                         
                         <div class="card mb-4 box-shadow border-0 h-500px" id="artist1">
                              <img class="position-absolute cover artist_green artist" src="https://cdn.jsdelivr.net/gh/kiwik8/TPA_concert/static/concert/medias/artist1.png" alt="BEA7S">
                              <h4 class="text-red position-bottom position-absolute position-center text-uppercase font-weight-bold">BEA7S</h4>
                         </div>
                         <div class="card mb-4 box-shadow border-0  h-500px" id="artist3">
                              <img class="position-absolute cover artist" src="{% static 'concert/medias/artist3.jpg' %}" alt="Skanda">
                              <h4 class="text-red position-bottom position-absolute position-center text-uppercase font-weight-bold">Skanda</h4>
                         </div>
                    <h3 class="h2" style="width: 100%;">Seront aussi présents : <a class="lineuplink" href="https://www.instagram.com/pcaps.yy/">Pcaps</a>, <a class="lineuplink" href="https://www.instagram.com/kyllian_lgrd/">Kios</a> et <a href="https://www.instagram.com/lousoliter/" class="lineuplink">Lousoliter</a></h3>
                    </div>
               </section>
               <section class="pb-5 pt-5 bg-dark-secondary text-center">
                    <div class="container">
                         <div class="row">
                              <div class="col-10 col-lg-6 mx-auto text-white" id="more">
                                   <h2 class="text-uppercase display-4">En savoir plus...</h2>
                                   <hr class="hr-red">
                                   <p class="mt-3 font-weight-100 letter-spacing-4px" style="font-size: 20px;">L’album réalisé se compose de 8 titres tous produits par Skanda. <br><br>La tracklist contenant : <br>- Tour de la terre<br>- Crazy ft. Skanda<br>- Couleurs<br>- Memo<br>- Walk in the city ft. Skanda, Kios<br>- Shine ft. Jeune X<br>- Wave<br>- Out!<br> 
                                        <br><br> Essor inclut différents styles musicaux, les 8 titres sont variés et offrent aux auditeurs un large choix. BEA7S mélange drill, rage, trap, jersey et D3.</p>
                                        <a href="{% url 'pdf_view' %}" class="pr-5 pl-5 pt-2 pb-2 btn text-uppercase font-weight-bold black btn-outline-white tpa_btn">Voir le TPA</a>
                              </div>
                              <div class="col-12 col-lg-6" style="display: flex; justify-content: center;">
                                   <aside class="card box-shadow bg-dark-primary" style="width: 370px;">
                                        <div class="card-header p-0">
                                             <img class="cover img-fluid img-thumbnail" src="https://cdn.jsdelivr.net/gh/kiwik8/TPA_concert/static/concert/medias/singer_new.png" alt="Singer" style="width: 370px; height: auto;">
                                        </div>
                                        <div class="card-body">
                                             <h3>Essor</h3>
                                             <p><span class="font-weight-100">Le nouvel album de BEA7S sort le <strong>12 mai</strong>, cliquez <a href="https://linktr.ee/bea7s">ici</a> pour allez le stream</span></p>
                                             <p class="font-weight-100">La cover représente l’album, elle a donc dû être mûrement réfléchie et travaillée aux détails près. 
                                                  La silhouette est celle de BEA7S, une âme qui s’en échappe et se dirige vers le mot « ESSOR » représente bien toute la thématique de l’album. 
                                                  En effet on comprend que l’artiste prend son envol et se dirige vers son propre essor.</p>
                                        </div>
                                   </aside>
                              </div>
                              </div>
                         </div>
               </section>
               <section class="pb-5 pt-5 bg-dark-secondary text-white text-center">
                    <h2 class="text-uppercase display-4">Des questions?</h2>
                    <hr class="hr-red">
                    <form class="text-left container mt-5" action="" method="POST">
                         {% csrf_token %}
                         <div class="row">
                              <div class="col-12 col-lg-6">
                                   <div class="form-group position-relative">
                                        <input class="form-outline-gray" name="firstname" id="firstname" type="text" required>
                                        <label class="label-absolute" for="firstname">Prénom</label>
                                   </div>
                              </div>
                              <div class="col-12 col-lg-6">
                                   <div class="form-group position-relative">
                                        <input class="form-outline-gray" name="lastname" id="lastname" type="text" required>
                                        <label class="label-absolute" for="lastname">Nom</label>
                                   </div>
                              </div>
                              <div class="col-12">
                                   <div class="form-group position-relative">
                                        <input class="form-outline-gray" name="email" id="email" type="email" required>
                                        <label class="label-absolute" for="email">Email</label>
                                   </div>
                                   
                                   
                                   <div class="form-group position-relative">
                                        <input class="form-outline-gray" name="message" id="message" type="message" required>
                                        <label class="label-absolute" for="message">Message</label>
                                   </div>
                              </div>
                         </div>
                         <input class="pr-5 pl-5 pt-2 pb-2 btn text-uppercase font-weight-bold black btn-outline-white" type="submit" name="send" id="send" value="Envoyer">
                    </form>
               </section>
                    
               </main>
               <footer class="text-black">
                    <div class="container d-flex align-items-center justify-content-between">
                         <small>Ben Elleboudt, Teerohn Legrand, Martin Gouverneur. Droits réservés. &copy;</small>
                         <ul class="list-unstyled d-flex p-0 m-0">
                              <li class="p-3">
                                   <a class="text-black text-decoration-none" href="https://www.facebook.com/ben.altaica">
                                        <i class="fab fa-facebook-f"></i>
                                   </a>
                              </li>
                              <li class="p-3">
                                   <a class="text-black text-decoration-none" href="https://www.instagram.com/bea7s.wav/">
                                        <i class="fab fa-instagram"></i>
                                   </a>
                              </li>
                              <li class="p-3">
                                   <a class="text-black text-decoration-none" href="https://twitter.com/NLeboud">
                                        <i class="fab fa-twitter"></i>
                                   </a>
                              </li>
                         </ul>
                    </div>
               </footer>
               <script src="{% static 'concert/index.js' %}"></script>
{% endblock content %}